# Dependencies
node_modules/
.pnp
.pnp.js
venv/
env/
.env
.venv/
__pycache__/
*.pyc

# Build directories
build/
dist/
coverage/
.next/
out/

# IDE and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.vercel
.netlify
